In [5]:
age = 25
if (age>=18):
    print("can vote")
else: 
    print('cant vote')

can vote

In [6]:
# Exception handling


age = '23'

try:
  # print(1/0)
  print(vari)
  if age >= 18:
    print('can vote')
  else:
    print('can\'t vote')
except TypeError:
  print('Something went wrong!!')
  print('Invalid datatype comparison!!')

except:
  print('Invalid Code!!')

Invalid Code!!

In [9]:
def student_record(**kwargs):
    import pandas as pd
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
        data = pd.DataFrame(kwargs,index=[1])
        return data

In [10]:
student_record(Name="Cristiano",Age=40,Address="Portugal")

        Name  Age   Address
1  Cristiano   40  Portugal

In [24]:
student_record(Name=["Yamal","Luka","Baletti"],Age =[17,39,45],Address=['Spain','Crotia','Brazil'],title=list('A+A'))

      Name  Age Address title
0    Yamal   17   Spain     A
1     Luka   39  Crotia     +
2  Baletti   45  Brazil     A

In [ ]:
def show_time():
        try:
           while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear=True)
        except :
            print("InterruptedError")

In [29]:
show_time()

Fri Jul  4 10:40:44 2025
InterruptedError

In [1]:
import akshat as ak

This is akshat module in python
      Info: https://www.google.com/

In [3]:
ak.print_star(n = 7,typ="mid",shape='^')

      ^
     ^ ^
    ^ ^ ^
   ^ ^ ^ ^
  ^ ^ ^ ^ ^
 ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^

In [51]:
ak.give_fibo(7)

[0, 1, 1, 2, 3, 5, 8]

In [52]:
ak.check_prime(89
               )

'Prime number'

In [61]:
!pip install gTTS

Requirement already satisfied: gTTS in c:\users\aksha\appdata\local\programs\python\python313\lib\site-packages (2.5.4)
Requirement already satisfied: requests<3,>=2.27 in c:\users\aksha\appdata\local\programs\python\python313\lib\site-packages (from gTTS) (2.32.4)
Requirement already satisfied: click<8.2,>=7.1 in c:\users\aksha\appdata\local\programs\python\python313\lib\site-packages (from gTTS) (8.1.8)
Requirement already satisfied: colorama in c:\users\aksha\appdata\local\programs\python\python313\lib\site-packages (from click<8.2,>=7.1->gTTS) (0.4.6)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\aksha\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->gTTS) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aksha\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->gTTS) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aksha\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->gTTS) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aksha\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->gTTS) (2025.6.15)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [60]:
ak.sound_box("never give up")

In [62]:
ak.check_palindrone('nitin')

'palindrone'

In [5]:
from akshat import student_record

In [6]:
student_record(name='messi',age=37)

    name  age
1  messi   37

In [7]:
from akshat import *
print('done')

done

In [8]:
sum_of_n_natural_number(78)

3081

In [10]:
import turtle
print('done')

done

In [ ]:
import turtle 
for i in range (120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col = ['red','yellow','green','blue','orange']
    import random
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

:

In [ ]:
import turtle
for i in range(6):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(150)
    turtle.left(60)

:

In [2]:
file = open('akshat.py',mode = 'r')

In [21]:
file = open('akshat.py',mode = 'r')
print(file.read(200))
file.close() #close of a file is importent otherwise its increse the storge in RAM

print('''This is akshat module in python
      Info: https://www.google.com/''')

def check_palindrone(word:str):
    if type(word) == str:
        word =word.upper()
        if word == word[::-1]:

In [25]:
f = open('akshat.py',mode = 'r')

In [31]:
print(f.readline())
f.close()

        word =word.upper()

In [35]:
f = open('akshat.py',mode = 'r')
for i in range(6):
    print(f.readline())

print('''This is akshat module in python

      Info: https://www.google.com/''')



def check_palindrone(word:str):

    if type(word) == str:

        word =word.upper()

In [37]:
f = open('akshat.py',mode = 'r')
for i in range(10):
    if i == 7: #line no 8
        print(f.readline())
    else:
        f.readline()

            return 'palindrone'

In [38]:
f = open('akshat.py',mode = 'r')

data = f.readlines()

f.close()
print('done')

done